h1	{
	text-decoration: bold;
	font-family: "georgia", times, serif;
	color: #006400;
}

body {
	background-image: url("../foto/hijau2.jpg");
	text-decoration: bold;
	font-family: "georgia", times, serif;
	color: #006400;
}